.example {
    display: grid;
    height: 70vh;
    grid-template-rows: auto 1fr auto;
}

section#header {
   background: lightpink;
   padding: 2rem;
}

main {
    background: coral;
}

footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
}

body {
    font-family: system-ui, sans-serif;
}